@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  background: #1c1c1c;
  color: #fff;
}
section {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h2 {
  font-size: 3rem;
  margin: 2rem 0rem;
}
.faq {
  min-width: 400px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s all ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.3rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 0.5s ease-in-out;
}

.faq.active i {
  transform: rotate(180deg);
}
i {
  transition: 0.5s all ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-18px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
